# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
seattle_data_unused/*
seattle_data_unused/
node_modules/

# Large files
*.tif
*.tiff
*.geotiff
*.zip
*.tar
*.gz
*.rar
*.7z
*.jpg
*.jpeg
*.png
*.bin
*.iso
*.dmg

# Specific large files
*.geojson
**/datasets/*
**/raw_data/*